body{
background:#343541;
font-family:Arial;
color:white;
}

.chat-container{
width:700px;
margin:auto;
margin-top:50px;
}

.chat-box{
background:#444654;
padding:20px;
height:400px;
overflow-y:auto;
border-radius:10px;
}

.user-msg{
background:#2b8a3e;
padding:10px;
margin:10px;
border-radius:8px;
text-align:right;
}

.ai-msg{
background:#202123;
padding:10px;
margin:10px;
border-radius:8px;
}

.input-box{
display:flex;
margin-top:10px;
}

input{
flex:1;
padding:10px;
border:none;
border-radius:5px;
}

button{
padding:10px 20px;
background:#10a37f;
color:white;
border:none;
margin-left:5px;
border-radius:5px;
}